---
title: About Rui Qi
---

<div class="view view__about">
  <div class="relative slim">
    <div class="orb orb--small"></div>
    <a href="/"><svg class="icon icon-logo__dark"><use xlink:href="#logo-light"></use></svg></a>
  </div>

  <div class="relative">

    <div class="text-block">

      <p>I am a Product Designer with seven years of work experience.</p>
      <p>I advocate for users! Early in my career I ran into problems because of designer’s arrogance.
        I realized that if the product is not designed as user-centered then users will abandon it regardless of presentation. So, from then on, I’ve spent time
        listening to users to understand their desires and frustrations. Also knowing how users interact with the product is key to good design.</p>
      <p>I am constantly learning. Beyond design I want to gain experience in as many of the related fields as possible. I have experience
        in <a class="link" href="/portfolio#project-5">visual design</a>, <a class="link" href="/portfolio#project-1">UX research</a>, front-end development, animation, <a class="link" href="/portfolio#project-3">project management</a>, photography, and film making. By gaining new skills,
        and working with other professionals, I can approach problems logically and sympathetically from different points of view. This helps me
        see the bigger picture and collaborate more effectively. </p>
      <p>I value <a class="link" href="/portfolio#project-2">process and collaboration</a>. I’ve enjoyed working in teams run Agile process. Methods such as Kanban
        and daily stand-ups improve communication which
        in turn improves quality. I am also working on <a class="link" href="/portfolio#project-3">applying Lean UX approaches within Agile environment</a> to ensure product were created are user-centered.</p>
        <p>Besides work, I enjoy travel, biking, board games, and most of all I love cooking!
          Ask me about my Chinese food recipes and please share your tasty recipes with me!</p>
      <a class="btn" href="../rui-qi-cv.pdf" target="_blank">View Résumé</a>
      <a class="btn" href="/portfolio">View Portfolio</a>

    </div>

    <div class="orb orb--big"></div>

  </div>

  <svg class="icon-flower-2"><use xlink:href="#test-flower-2"></use></svg>

  <svg class="icon-clouds-2" xmlns="http://www.w3.org/2000/svg" viewBox="8.806 9.264 453.677 326.215" style="">
  <g fill="none" stroke="#383F26" stroke-width="2.5" stroke-miterlimit="10">
    <path d="M57.945 50.91c-11.178 0-20.253 9.074-20.253 20.252 0 11.178 9.075 20.253 20.253 20.253M121.692 212.71c11.178 0 20.253-9.074 20.253-20.252s-9.075-20.253-20.253-20.253M352.996 293.613c11.178 0 20.253-9.075 20.253-20.253s-9.076-20.253-20.254-20.253" class="FpComecZ_0"></path>
    <path d="M8.806 10.514h76.806c11.178 0 20.253 9.075 20.253 20.253S96.79 50.91 85.612 50.91H43.89c-11.18 0-20.254 9.074-20.254 20.252 0 11.178 9.075 20.253 20.253 20.253h191.683c11.178 0 20.253 9.075 20.253 20.253s-9.075 20.253-20.253 20.253M222.292 131.81H80.08c-11.18 0-20.254 9.075-20.254 20.253s9.075 20.253 20.253 20.253h57.327c11.178 0 20.253 9.075 20.253 20.253s-9.075 20.252-20.253 20.252H104.87c-11.178 0-20.253 9.075-20.253 20.253s9.186 20.142 20.253 20.142h-.11 336.22c11.178 0 20.253 9.075 20.253 20.253s-9.075 20.253-20.253 20.253H300.316c-11.178 0-20.253 9.075-20.253 20.253s9.075 20.253 20.253 20.253" class="FpComecZ_1"></path>
  </g>
  <style>.FpComecZ_0{stroke-dasharray:191 193;stroke-dashoffset:192;animation:FpComecZ_draw 2400ms linear 1600ms forwards;}.FpComecZ_1{stroke-dasharray:1529 1531;stroke-dashoffset:1530;animation:FpComecZ_draw 2600ms linear 1400ms forwards;}@keyframes FpComecZ_draw{100%{stroke-dashoffset:0;}}@keyframes FpComecZ_fade{0%{stroke-opacity:1;}94.44444444444444%{stroke-opacity:1;}100%{stroke-opacity:0;}}</style></svg>


</div>

<a href="/portfolio" class="next"><svg><use xlink:href="#icon-next"></use></svg></a>
