---
title: Portfolios
---

<div class="view view__portfolio">

  <a href="/"><svg class="icon icon-logo__dark"><use xlink:href="#logo-light"></use></svg></a>

  <div class="orb orb--big"></div>

  <svg class="icon crane-up"><use xlink:href="#crane-up"></use></svg>
  <svg class="icon crane-down"><use xlink:href="#crane-down"></use></svg>

  <svg class="icon umbrella"><use xlink:href="#umbrella"></use></svg>

  <div class="orb orb--small">
  </div>

  <svg class="icon lantern"><use xlink:href="#lantern"></use></svg>

  <svg class="icon flower-pot"><use xlink:href="#flower-pot"></use></svg>

  <ul class="grid">

    <li class="grid__item">

      <div class="grid__terms">
        <!-- <span class="term">Branding</span> -->
      </div>
      <a class="grid__thumb" href="#project-1" data-featherlight="/portfolio/project1/index.html">
        <img onload="imgLoaded(this)" src="/images/portfolio/1.jpg">
      </a>
      <h2>University of Arizona Libraries website homepage redesign</h2>

    </li>

    <li class="grid__item">

      <div class="grid__terms">
        <!-- <span class="term">Branding</span>
        <span class="term">UI</span>
        <span class="term">UX</span> -->
      </div>
      <a class="grid__thumb" href="#project-2" data-featherlight="/portfolio/project2/index.html">
        <img onload="imgLoaded(this)" src="/images/portfolio/2.jpg">
      </a>
      <h2>University of Arizona Libraries website style guide project</h2>

    </li>

    <li class="grid__item">

      <div class="grid__terms">
        <!-- <span class="term">Branding</span>
        <span class="term">UI</span>
        <span class="term">UX</span> -->
      </div>
      <a class="grid__thumb" href="#project-3" data-featherlight="/portfolio/project3/index.html">
        <img onload="imgLoaded(this)" src="/images/portfolio/3.jpg">
      </a>
      <h2>Reformation Online Exhibition</h2>

    </li>

    <li class="grid__item">

      <div class="grid__terms">
        <!-- <span class="term">Branding</span>
        <span class="term">UI</span>
        <span class="term">UX</span> -->
      </div>
      <a class="grid__thumb" href="#project-4" data-featherlight="/portfolio/project4/index.html">
        <img onload="imgLoaded(this)" src="/images/portfolio/4.jpg">
      </a>
      <h2>Rui's Secret Kitchen Application</h2>

    </li>

    <li class="grid__item">

      <div class="grid__terms">
        <!-- <span class="term">Branding</span>
        <span class="term">UI</span>
        <span class="term">UX</span> -->
      </div>
      <a class="grid__thumb" href="#project-5" data-featherlight="/portfolio/project5/index.html">
        <img onload="imgLoaded(this)" src="/images/portfolio/5.jpg">
      </a>
      <h2>University of Arizona Libraries Research Support project</h2>

    </li>

    <li class="grid__item">

      <div class="grid__terms">
        <!-- <span class="term">Branding</span>
        <span class="term">UI</span>
        <span class="term">UX</span> -->
      </div>
      <a class="grid__thumb" href="#project-6" data-featherlight="/portfolio/project6/index.html">
        <img onload="imgLoaded(this)" src="/images/portfolio/6.png">
      </a>
      <h2>Fragment — Project Management Application</h2>

    </li>

  </ul>

</div>

<a href="/contact" class="next"><svg><use xlink:href="#icon-next"></use></svg></a>
